[Desktop Entry]
Encoding=UTF-8
Name=AXIV
Comment=AXIV P2P Cryptocurrency
Comment[fr]=AXIV, monnaie virtuelle cryptographique pair à pair
Comment[tr]=AXIV, eşten eşe kriptografik sanal para birimi
Exec=vitae-qt %u
Terminal=false
Type=Application
Icon=vitae128
MimeType=x-scheme-handler/vitae;
Categories=Office;Finance;
