[Desktop Entry]
Encoding=UTF-8
Name=AureusXIV
Comment=AureusXIV P2P Cryptocurrency
Comment[fr]=AureusXIV, monnaie virtuelle cryptographique pair à pair
Comment[tr]=AureusXIV, eşten eşe kriptografik sanal para birimi
Exec=aureusxiv-qt %u
Terminal=false
Type=Application
Icon=aureusxiv128
MimeType=x-scheme-handler/aureusxiv;
Categories=Office;Finance;
