[Desktop Entry]
Encoding=UTF-8
Name=AXIV
Comment=AXIV P2P Cryptocurrency
Comment[fr]=AXIV, monnaie virtuelle cryptographique pair à pair
Comment[tr]=AXIV, eşten eşe kriptografik sanal para birimi
Exec=axiv-qt %u
Terminal=false
Type=Application
Icon=axiv128
MimeType=x-scheme-handler/axiv;
Categories=Office;Finance;
