[Unit]
Description=AureusXIV's distributed currency daemon
After=network.target

[Service]
User=aureusxiv
Group=aureusxiv

Type=forking
PIDFile=/var/lib/aureusxivd/aureusxivd.pid

ExecStart=/usr/bin/aureusxivd -daemon -pid=/var/lib/aureusxivd/aureusxivd.pid \
          -conf=/etc/aureusxiv/aureusxiv.conf -datadir=/var/lib/aureusxivd

ExecStop=-/usr/bin/aureusxiv-cli -conf=/etc/aureusxiv/aureusxiv.conf \
         -datadir=/var/lib/aureusxivd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
