[Unit]
Description=AXIV's distributed currency daemon
After=network.target

[Service]
User=axiv
Group=axiv

Type=forking
PIDFile=/var/lib/axivd/axivd.pid

ExecStart=/usr/bin/axivd -daemon -pid=/var/lib/axivd/axivd.pid \
          -conf=/etc/axiv/axiv.conf -datadir=/var/lib/axivd

ExecStop=-/usr/bin/axiv-cli -conf=/etc/axiv/axiv.conf \
         -datadir=/var/lib/axivd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
